################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Prog_lab9_cpp/Prog_lab9_cpp.vcxproj.user
/Prog_lab9_cpp/Prog_lab9_cpp.vcxproj.filters
/Prog_lab9_cpp/Prog_lab9_cpp.vcxproj
/Prog_lab9_cpp/.vs/Prog_lab9_cpp/v16/Browse.VC.opendb
/Prog_lab9_cpp/.vs/Prog_lab9_cpp/v16/Browse.VC.db-wal
/Prog_lab9_cpp/.vs/Prog_lab9_cpp/v16/Browse.VC.db-shm
/Prog_lab9_cpp/.vs/Prog_lab9_cpp/v16/Browse.VC.db
/Prog_lab9_cpp/Debug/vc142.pdb
/Prog_lab9_cpp/Debug/vc142.idb
/Prog_lab9_cpp/Debug/Teacher.obj
/Prog_lab9_cpp/Debug/Student.obj
/Prog_lab9_cpp/Debug/Prog_lab9_cpp.vcxproj.FileListAbsolute.txt
/Prog_lab9_cpp/Debug/Prog_lab9_cpp.tlog/Prog_lab9_cpp.lastbuildstate
/Prog_lab9_cpp/Debug/Prog_lab9_cpp.tlog/link.write.1.tlog
/Prog_lab9_cpp/Debug/Prog_lab9_cpp.tlog/link.read.1.tlog
/Prog_lab9_cpp/Debug/Prog_lab9_cpp.tlog/link.command.1.tlog
/Prog_lab9_cpp/Debug/Prog_lab9_cpp.tlog/CL.write.1.tlog
/Prog_lab9_cpp/Debug/Prog_lab9_cpp.tlog/CL.read.1.tlog
/Prog_lab9_cpp/Debug/Prog_lab9_cpp.tlog/CL.command.1.tlog
/Prog_lab9_cpp/Debug/Prog_lab9_cpp.pdb
/Prog_lab9_cpp/Debug/Prog_lab9_cpp.log
/Prog_lab9_cpp/Debug/Prog_lab9_cpp.ilk
/Prog_lab9_cpp/Debug/Prog_lab9_cpp.exe.recipe
/Prog_lab9_cpp/Debug/Prog_lab9_cpp.exe
/Prog_lab9_cpp/Debug/main.obj
/Prog_lab9_cpp/Debug/Human.obj
/Prog_lab9_cpp/Debug/Fio.obj
/Prog_lab9_cpp/Debug/Faculty.obj
/Prog_lab9_cpp/.vs/Prog_lab9_cpp/v16/.suo
/Prog_lab9_cpp/.vs/Prog_lab9_cpp/v16/ipch/AutoPCH/a170afbc34112d28/MAIN.ipch
/Prog_lab9_cpp/.vs/Prog_lab9_cpp/v16/ipch/AutoPCH/90791740c0a53aa0/HUMAN.ipch
/Prog_lab9_cpp/.vs/Prog_lab9_cpp/v16/ipch/AutoPCH/8673299cb6fe006f/FIO.ipch
/Prog_lab9_cpp/.vs/Prog_lab9_cpp/v16/ipch/AutoPCH/73b2218af13b6db6/STUDENT.ipch
/Prog_lab9_cpp/.vs/Prog_lab9_cpp/v16/ipch/AutoPCH/1fdfcbe5cdf6fba3/TEACHER.ipch
/Prog_lab9_cpp/.vs/Prog_lab9_cpp/v16/ipch/AutoPCH/1957f918f4e0e6cd/FACULTY.ipch
